name: Node CI

on:
  push:
    paths:
      - '.github/workflows/*'
      - 'src/**'
      - 'markdown.css'
      - 'package*.json'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        node: [10, 12]
        os: ['ubuntu-latest', 'windows-latest', 'macOS-latest']

    name: Node ${{ matrix.node }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@master

      - name: Use Node.js ${{ matrix.node }}.x
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}.x

      - name: install
        run: npm install

      - name: lint
        run: npx xo
        if: matrix.os != 'windows-latest' # because "Delete ␍  prettier/prettier" o.O

      - name: build
        run: npm run build

      - name: test lib
        run: npx nyc ava src/test/lib.spec.ts

      - name: test api
        run: npx ava src/test/api.spec.ts --timeout=30s

      - name: test cli
        run: npx ava src/test/cli.spec.ts --timeout=2m
        if: matrix.os != 'windows-latest' # because they just time out ¯\_(ツ)_/¯
